{% extends "common/layout/base-page-layout.twig" %}

{% set title = 'Users' %}

{% set formArray = [
    {key: 'name', label: 'Name', type: 'text'},
    {key: 'favoriteColor', label: 'Favorite color', type: 'text'},
    {key: 'age', label: 'Age', type: 'number'},
    {key: 'cash', label: 'Cash', type: 'number'}
] %}

{% block main %}
<div id="create-user-progress" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 0%"></div>
</div>

<div class="container mt-4">
    <form class="mb-4 p-4 card" id="create-user-form">
        {% for input in formArray %}
            <div class="mb-4">
                <label class="form-label" for="{{ input.key }}">{{ input.label }}:</label>
                <div class="input-group">
                    <input class="form-control" id="{{ input.key }}" name="{{ input.key }}" type="{{ input.type }}">
                </div>
            </div>
        {% endfor %}
        <button class="w-100 btn btn-primary" type="submit">Submit</button>
    </form>

    <div class="card pt-3 mb-3">
        <ul id="users-list" class="w-100 users-list d-flex justify-content-center flex-wrap">
            {% for user in users %}
                <li class="user m-2">
                    <a class="link-underline-light" href="users/edit/{{ user.id }}">
                        <span class="card">
                            <span class="card-header text-primary">{{ user.name }}</span>
                            <span class="card-body">
                                <span>{{ user.favoriteColor }}</span>
                                <span>{{ user.age }}</span>
                                <span>{{ user.cash }}</span>
                            </span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}